.country {
    margin: 20px;
    padding: 30px;
    background-color: blueviolet;
    border: dashed 2px aqua;
    border-radius: 20px
}
.country-flag{
    height: 250px;
    width: 400px;
    border-radius: 20px;
}