.country {
    margin: 20px;
    padding: 10px;
    background-color: blueviolet;
    border: dashed 2px aqua;
    border-radius: 20px
}
.country-flag{
    height: 100px;
    width: 150px;
    border-radius: 10px;
}
